<div>
    <my-tabs class="ctabs">
        <!-- <my-tab title="Patient">
            <div class="mtabcon" ng-controller="PatientHistoryCtrl">
                <div ng-repeat="field in fields track by $index" >
                    <div ng-if="field.field != 'Patient' && field.field != 'Doctor'">
                        <div class="row" ng-if="field.field == 'Date of Birth'">
                            <div class="col">
                                <strong>{{field.field}} {{field.is_mandatory==1? '':''}} </strong>
                            </div>
                            <div class="col" ng-if="abt.length != 0">
                                <div ng-repeat="ab in abt">
                                    <div ng-if="ab.fields.field == 'Date of Birth'">
                                        <div ng-if="ab.value != ''">: {{ab.value|dateFormat4}}</div>
                                        <div ng-if="ab.value == ''">: NA</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" ng-if="abt.length == 0">
                                <div>: NA</div>
                            </div>
                        </div>
                        <div class="row" ng-if="field.field == 'Gender'">
                            <div class="col">
                                <strong>{{field.field}} {{field.is_mandatory==1? '':''}} </strong>
                            </div>
                            <div class="col" ng-if="abt.length != 0">
                                <div ng-repeat="ab in abt">
                                    <div ng-if="ab.fields.field == 'Gender'">
                                        <div>: {{gender}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" ng-if="abt.length == 0">
                                <div>: NA</div>
                            </div>
                        </div>
                        <div class="row" ng-if="field.field == 'Email'">
                            <div class="col">
                                <strong>{{field.field}} {{field.is_mandatory==1? '':''}} </strong>
                            </div>
                            <div class="col" ng-if="abt.length != 0">
                                <div ng-repeat="ab in abt">
                                    <div ng-if="ab.fields.field == 'Email'">
                                        <div ng-if="ab.value != ''">: {{ab.value}}</div>
                                        <div ng-if="ab.value == ''">: NA</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" ng-if="abt.length == 0">
                                <div>: NA</div>
                            </div>
                        </div>
                        <div class="row" ng-if="field.field == 'Mobile Number'">
                            <div class="col">
                                <strong>{{field.field}} {{field.is_mandatory==1? '':''}} </strong>
                            </div>
                            <div class="col" ng-if="abt.length != 0">
                                <div ng-repeat="ab in abt">
                                    <div ng-if="ab.fields.field == 'Mobile Number'">
                                        <div ng-if="ab.value != ''">: {{ab.value}}</div>
                                        <div ng-if="ab.value == ''">: {{patients[0].phone}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" ng-if="abt.length == 0">
                                <div>: NA</div>
                            </div>
                        </div>
                        <div class="row" ng-if="field.field == 'Blood Group'">
                            <div class="col">
                                <strong>{{field.field}} {{field.is_mandatory==1? '':''}} </strong>
                            </div>
                            <div class="col" ng-if="abt.length != 0">
                                <div ng-repeat="ab in abt">
                                    <div ng-if="ab.fields.field == 'Blood Group'">
                                        <div>: {{ab.value}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" ng-if="abt.length == 0">
                                <div >: NA</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="selCondition.length > '0'">
                    <div class="row">
                        <div class="col"><strong>Known Conditions </strong></div>
                        <div class="col">: <span ng-repeat="sel in selCondition"> {{sel.condition}} <br/></span></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </my-tab> -->
        
        <!--new patient(background) tab-->
        <my-tab title="Patient">
            <div class="mtabcon" ng-controller="PatientBackgroundCtrl">
                <div class="item item-divider"><span>Name </span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.name" type = "text" required placeholder="Name"/>
                </label>


                <div class="item item-divider"><span>DOB </span></div>
                <label class="item item-input listreq">
                  <input type="date" ng-model ="data.dob"  required/>
                </label>

                <div class="item item-divider"><span>Gender</span></div>
                <label class="item item-list listreq">
                  <select ng-model = "data.gender" class ="cselect" required>
                    <option value='1'>Male</option>
                    <option value ='0'>Female</option>
                  </select>
                </label>
             
                <div class="item item-divider"><span>Phone </span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.phone" type = "text" required placeholder="Name"/>
                </label>

                <div class="item item-divider"><span>Email </span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.email" type = "text" required placeholder="Name"/>
                </label>
                <button ng-click="updatePersonalDetails()" class="button button-positive button-block">Update</button>
                <div ng-if="selCondition.length > '0'">
                    <div class="row">
                        <div class="col"><strong>Known Conditions </strong></div>
                        <div class="col">: <span ng-repeat="sel in selCondition"> {{sel.condition}} <br/></span></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </my-tab>

        <!-- <my-tab title="Family">
            <div class="mtabcon" ng-controller="FamilyHistoryCtrl">
                <p ng-if="recorddata.length == 0">No record(s) found.</p>
                <div class="clr"></div>
                <div class="list card post-item greenbox" ng-repeat="rdata in recorddata">
                    <div class="card-content p0">
                        <div class="row post-heading item item-text-wrap ">
                            <div class="col col-75">
                                <h2 class="post-title">Relation: {{rdata.record_metadata[1].value}}</h2>
                            </div>
                            <div class="col col-25 txt-right">
                            
                            </div>
                        </div>
                        <div class="post-content item item-text-wrap p0">
                            <div class="row">
                                <div class="col"><strong>Age</strong></div>
                                <div class="col">: {{rdata.record_metadata[2].value}}</div>
                            </div>
                            <div class="row">
                                <div class="col"><strong>Known Conditions</strong></div>
                                <div class="col">: <span ng-repeat="sel in knConditions[$index]"> {{sel.condition}} <br/></span></div>
                            </div>
                            <div class="row">
                                <div class="col"><strong>Other Information</strong></div>
                                <div class="col">: {{rdata.record_metadata[4].value!=''? rdata.record_metadata[4].value:'NA'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </my-tab> -->

        <my-tab title ="Family">
            <div class="mtabcon" ng-controller="FamilyBackgroundCtrl">
                <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
                </ion-refresher>
                <!-- <td-cards>
                    <td-card ng-repeat="card in cards" id="td-card"
                             ng-click ="selectedCard(card.id)"  
                             on-transition-out="swipedAway(card.id)">
                        <h4 class="cardtitle">
                            {{card.relation.relation_name}}: {{card.relative_name}} ({{card.relative_age}} Years)
                        </h4>
                        
                    </td-card>
                </td-cards> -->
                
                <div class="list card post-item greenbox" ng-repeat="card in cards">
                    <a ng-click="selectedCard(card.id)">
                        <div class="card-content p0">
                            <div class="row post-heading item item-text-wrap ">
                                <div class="col col-70">
                                    <h2 class="post-title">{{card.relation.relation_name}}: {{card.relative_name}} ({{card.relative_age}} Years)</h2>
                                </div>
                            </div>

                            <div class="post-content item item-text-wrap p0" >
                                <p ng-if="card.problems.length == 0"> No problems fed</p>
                                <div class="row" ng-repeat="problem in card.problems">
                                    <span>{{problem.problem.problem}}</span>
                                </div>
                                <div class="post-footer p0">
                                    <div class="row">
                                        <div class="col-80 ">Click to add more</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <label class="item item-list listreq">
                    <select ng-model = "newrelation.selectedrelation" class ="cselect" id="problemselect">
                      <option ng-repeat="option in select" value={{option.id}}>{{option.relation_name}}</option>
                    </select>
                </label>
                <label class="item item-list listreq" ng-if="newrelation.selectedrelation == 0">
                    <input ng-model="newrelation.relationname" type = "text" placeholder=" Relation name (Father/Mother)" id="newrelation" />
                </label>
                <label class="item item-list listreq">
                    <input ng-model="newrelation.name" type = "text" placeholder="Name" />
                </label>
                <label class="item item-list listreq">
                    <input ng-model="newrelation.age" type = "number" placeholder="Age" />
                </label>
                <button ng-click="addRelation()" class="button button-positive button-block">Add Relation</button>
            </div>
        </my-tab>
    </my-tabs>
</div>