<div>
    <style type="text/css">
        .count { font-size: 20px; }
        .card { margin:5px 5px; }
    </style>
    <my-tabs class="themetabs">
        <my-tab title="Created by you ({{totalCreateByYou}})" ng-click="subpage('createdbyu')"> 
            <div ng-controller="expandAccordianRecordsCtrl">
                <div class="sldebxcontent hide RecordsView">
                    <button ng-click="closeRecView()" class="button button-add icon ion-backspace"> Close</button>
                    <!-- <button ng-click="shareTreatment()" class="button button-share icon ion-android-share-alt">Share</button> -->
                    <!-- <button ng-click="addNew('{{catid}}')" class="button button-add icon ion-plus"> Add</button> -->
                
                    <div class="list recordview" style="margin-top: 50px;" >
                        <div class="mt15" ng-if="records.length == 0"> <p class="txt-center" >No records here. Add now to get started.</p></div>
                        <div class="posts-list"  ng-repeat="rec in records track by $index" ng-if="records.length > 0">
                            <div  class="list card post-item"> <!-- ui-sref="{{catId == '8'?  app.preview-note({'id' : rec.id, 'appId': 1, 'res' : 'json'}):app.record-details({'id' : rec.id, 'shared': shared, 'res' : 'json'})}}"-->
                            <!--<a ng-click="viewDetails(rec.id, rec.appointment_id, rec.user_id, rec.for, rec.doctor_id)" class="post-content item item-text-wrap">-->
                                <div class="item item-divider mt15 ng-binding" >{{rec.share_with.fname}} {{rec.share_with.lname}}</div>
                                <div class="row pr-b10">
                                    <div class="col" ng-repeat="detail in rec.record_metadata| limitTo: limit"> 
                                        <!--{{$index == 0 ? '<p>': ''}} -->

                                        <strong ng-if="detail.fields.name != 'no-of-frequency-1' && detail.fields.name != 'no-of-times'">{{detail.fields.field| capitalize}}  </strong><br/>

                                        <span ng-if="detail.fields.field == 'Prescribed By' || detail.fields.field == 'Measured By' || detail.fields.field == 'Referred By' || detail.fields.field == 'Performed By' || detail.fields.field == 'Consultant'">
                                            {{doctors[$parent.$parent.$index]}}
                                        </span>
                                        <span ng-if="detail.fields.field == 'Related Problem'" >
                                            {{problems[$parent.$parent.$index].value}}
                                        </span>
                                        <span ng-if="category[0].id == 30 && detail.fields.field == 'Frequency'" >
                                            <span ng-if="detail.value == 'Repeat'">Once Every {{repeatNo[$parent.$parent.$parent.$parent.$index]}} {{repeatFreq[$parent.$parent.$parent.$parent.$index]}}</span>
                                            <span ng-if="detail.value != 'Repeat'">{{detail.value}}</span>
                                        </span>
                                        <span ng-if="category[0].id == 3 && detail.fields.name == 'frequency'" >
                                            <span>{{detail.value}} time{{detail.value>1? 's':''}} in {{repeatFreq[$parent.$parent.$parent.$parent.$index]}}</span>
                                        </span>
                                        <span ng-if="detail.fields.field == 'Patient'" >
                                            {{patient[$parent.$parent.$index].fname}} {{patient[$parent.$parent.$index].lname}}
                                        </span>

                                        <span ng-if="detail.fields.field_type != '5' && detail.fields.name != 'frequency' && detail.fields.name != 'no-of-frequency-1' && detail.fields.name != 'no-of-frequency' && detail.fields.name != 'no-of-times' && detail.fields.field != 'Patient' && detail.fields.field != 'Frequency' && detail.fields.field != 'Prescribed By' && detail.fields.field != 'Measured By' && detail.fields.field != 'Referred By' && detail.fields.field != 'Performed By' && detail.fields.field != 'Consultant' && detail.fields.field != 'Related Problem'">
                                            <span ng-if="detail.fields.field_type == 8 && detail.value != ''">
                                                <span ng-if="detail.field_id == 'consultation-date'" >{{detail.value}}</span>
                                                <span ng-if="detail.field_id != 'consultation-date'" >{{detail.value|dateFormat4}}</span>
                                            </span>
                                            <span ng-if="detail.fields.field_type == 12">{{detail.value|time1}}</span>
                                            <span ng-if="detail.fields.field_type != 8 && detail.fields.field_type != 12">
                                                <span ng-if="detail.value == ''">NA</span>
                                                <span ng-if="detail.value != ''">{{detail.value}}</span>
                                            </span>
                                        </span>
                                        <span ng-if="detail.fields.field_type == '5'">
                                            <span ng-repeat="attach in rec.attachments" ng-init="selData = (attach.orginial_name).split('.')">
                                                <span style="cursor: pointer;" class="" ng-click="showm(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                    <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                </span>
                                            </span>
                                        </span>
                                        <!--                                    <span ng-if="detail.fields.name == 'no-of-times'"> 
                                                                            </span>-->

                                        <!--{{$index % 2 == 0|| $index == limit? '</p>' : ''}}
                                        {{$index % 2 == 0 && $index < limit ? '<p>' : ''}} -->
                                    </div>  
                                </div>
                                <div class="post-actions row post-footer">
                                    <span>Created {{rec.created_at| datetime3 }} by {{userId==createdby[$index].id? 'You': createdby[$index].fname}}</span>
                                </div>
                                <div class="attachcard" ng-if="rec.attachments.length != 0">
                                    <i class="ion-paperclip"></i></div>
                            </div>
                        </div>
                    </div>      
                </div>

                <!--  ng-click="subpage('createdbyu')"  -->
                <div class="tabcontainer" >
                    <p ng-if="records.length == 0">No record(s) found.</p>
                </div> 

                <div ng-repeat="cat in allCatsCreateByYou" ng-if="$index % 3 == 0" class="row allRecords" width="99%">
                    <div class="col greenbox card">
                        <div class="post-heading">
                            <a ng-click="expandAccordian(allCatsCreateByYou[$index].url,allCatsCreateByYou[$index].category,0)">
                                <h2 class="text-center">{{allCatsCreateByYou[$index].name}}</h2>
                                <p class="text-center count">{{allCatsCreateByYou[$index].count}} </p>
                            </a>
                        </div>
                    </div>
                    <div class="col greenbox card" ng-if="allCatsCreateByYou.length > ($index + 1)">
                        <div class="post-heading">
                            <a ng-click="expandAccordian(allCatsCreateByYou[$index + 1].url,allCatsCreateByYou[$index + 1].category,0)">
                                <h2 class="text-center">{{allCatsCreateByYou[$index + 1].name}}</h2>
                                <p class="text-center count">{{allCatsCreateByYou[$index + 1].count}} </p>
                            </a>
                        </div>
                    </div>
                    <div class="col greenbox card"  ng-if="allCatsCreateByYou.length > ($index + 2)">
                        <div class="post-heading">
                            <a ng-click="expandAccordian(allCatsCreateByYou[$index + 2].url,allCatsCreateByYou[$index + 2].category,0)">
                                <h2 class="text-center">{{allCatsCreateByYou[$index + 2].name}}</h2>
                                <p class="text-center count">{{allCatsCreateByYou[$index + 2].count}} </p>
                            </a>
                        </div>
                    </div>        
                </div>               
            </div>
        </my-tab>        

        <my-tab title="Shared with you ({{totalSharedWithYou}})" ng-click="subpage('createdbyu')"> 
            <div ng-controller="expandAccordianRecordsCtrl">
                <div class="sldebxcontent hide RecordsView">
                    <button ng-click="closeRecView()" class="button button-add icon ion-backspace"> Close</button>
                    <!-- <button ng-click="shareTreatment()" class="button button-share icon ion-android-share-alt">Share</button> -->
                    <!-- <button ng-click="addNew('{{catid}}')" class="button button-add icon ion-plus"> Add</button> -->
                
                    <div class="list recordview" style="margin-top: 50px;" >
                        <div class="mt15" ng-if="records.length == 0"> <p class="txt-center" >No records here. Add now to get started.</p></div>
                        <div class="posts-list"  ng-repeat="rec in records track by $index" ng-if="records.length > 0">
                            <div  class="list card post-item"> <!-- ui-sref="{{catId == '8'?  app.preview-note({'id' : rec.id, 'appId': 1, 'res' : 'json'}):app.record-details({'id' : rec.id, 'shared': shared, 'res' : 'json'})}}"-->
                            <!--<a ng-click="viewDetails(rec.id, rec.appointment_id, rec.user_id, rec.for, rec.doctor_id)" class="post-content item item-text-wrap">-->
                                <div class="item item-divider mt15 ng-binding" >{{rec.share_with.fname}} {{rec.share_with.lname}}</div>
                                <div class="row pr-b10">
                                    <div class="col" ng-repeat="detail in rec.record_metadata| limitTo: limit"> 
                                        <!--{{$index == 0 ? '<p>': ''}} -->

                                        <strong ng-if="detail.fields.name != 'no-of-frequency-1' && detail.fields.name != 'no-of-times'">{{detail.fields.field| capitalize}}  </strong><br/>

                                        <span ng-if="detail.fields.field == 'Prescribed By' || detail.fields.field == 'Measured By' || detail.fields.field == 'Referred By' || detail.fields.field == 'Performed By' || detail.fields.field == 'Consultant'">
                                            {{doctors[$parent.$parent.$index]}}
                                        </span>
                                        <span ng-if="detail.fields.field == 'Related Problem'" >
                                            {{problems[$parent.$parent.$index].value}}
                                        </span>
                                        <span ng-if="category[0].id == 30 && detail.fields.field == 'Frequency'" >
                                            <span ng-if="detail.value == 'Repeat'">Once Every {{repeatNo[$parent.$parent.$parent.$parent.$index]}} {{repeatFreq[$parent.$parent.$parent.$parent.$index]}}</span>
                                            <span ng-if="detail.value != 'Repeat'">{{detail.value}}</span>
                                        </span>
                                        <span ng-if="category[0].id == 3 && detail.fields.name == 'frequency'" >
                                            <span>{{detail.value}} time{{detail.value>1? 's':''}} in {{repeatFreq[$parent.$parent.$parent.$parent.$index]}}</span>
                                        </span>
                                        <span ng-if="detail.fields.field == 'Patient'" >
                                            {{patient[$parent.$parent.$index].fname}} {{patient[$parent.$parent.$index].lname}}
                                        </span>

                                        <span ng-if="detail.fields.field_type != '5' && detail.fields.name != 'frequency' && detail.fields.name != 'no-of-frequency-1' && detail.fields.name != 'no-of-frequency' && detail.fields.name != 'no-of-times' && detail.fields.field != 'Patient' && detail.fields.field != 'Frequency' && detail.fields.field != 'Prescribed By' && detail.fields.field != 'Measured By' && detail.fields.field != 'Referred By' && detail.fields.field != 'Performed By' && detail.fields.field != 'Consultant' && detail.fields.field != 'Related Problem'">
                                            <span ng-if="detail.fields.field_type == 8 && detail.value != ''">
                                                <span ng-if="detail.field_id == 'consultation-date'" >{{detail.value}}</span>
                                                <span ng-if="detail.field_id != 'consultation-date'" >{{detail.value|dateFormat4}}</span>
                                            </span>
                                            <span ng-if="detail.fields.field_type == 12">{{detail.value|time1}}</span>
                                            <span ng-if="detail.fields.field_type != 8 && detail.fields.field_type != 12">
                                                <span ng-if="detail.value == ''">NA</span>
                                                <span ng-if="detail.value != ''">{{detail.value}}</span>
                                            </span>
                                        </span>
                                        <span ng-if="detail.fields.field_type == '5'">
                                            <span ng-repeat="attach in rec.attachments" ng-init="selData = (attach.orginial_name).split('.')">
                                                <span style="cursor: pointer;" class="" ng-click="showm(attach.host, attach.attachment_path, attach.orginial_name)" >
                                                    <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                                </span>
                                            </span>
                                        </span>
                                        <!--                                    <span ng-if="detail.fields.name == 'no-of-times'"> 
                                                                            </span>-->

                                        <!--{{$index % 2 == 0|| $index == limit? '</p>' : ''}}
                                        {{$index % 2 == 0 && $index < limit ? '<p>' : ''}} -->
                                    </div>  
                                </div>
                                <div class="post-actions row post-footer">
                                    <span>Created {{rec.created_at| datetime3 }} by {{userId==createdby[$index].id? 'You': createdby[$index].fname}}</span>
                                </div>
                                <div class="attachcard" ng-if="rec.attachments.length != 0">
                                    <i class="ion-paperclip"></i></div>
                            </div>
                        </div>
                    </div>       
                </div>
                <!--  ng-click="subpage('createdbyu')"  -->
                <div class="tabcontainer" >
                    <p ng-if="records.length == 0">No record(s) found.</p>
                </div> 

                <div ng-repeat="cat in allCatsSharedWithYou" ng-if="$index % 3 == 0" class="row allRecords" width="99%">
                    <div class="col greenbox card">
                        <div class="post-heading">
                            <a ng-click="expandAccordian(allCatsSharedWithYou[$index].url,allCatsSharedWithYou[$index].category,1)">
                                <h2 class="text-center">{{allCatsSharedWithYou[$index].name}}</h2>
                                <p class="text-center count">{{allCatsSharedWithYou[$index].count}} </p>
                            </a>
                        </div>
                    </div>
                    <div class="col greenbox card" ng-if="allCatsSharedWithYou.length > ($index + 1)">
                        <div class="post-heading">
                            <a ng-click="expandAccordian(allCatsSharedWithYou[$index + 1].url,allCatsSharedWithYou[$index + 1].category,1)">
                                <h2 class="text-center">{{allCatsSharedWithYou[$index + 1].name}}</h2>
                                <p class="text-center count">{{allCatsSharedWithYou[$index + 1].count}} </p>
                            </a>
                        </div>
                    </div>
                    <div class="col greenbox card"  ng-if="allCatsSharedWithYou.length > ($index + 2)">
                        <div class="post-heading">
                            <a ng-click="expandAccordian(allCatsSharedWithYou[$index + 2].url,allCatsSharedWithYou[$index + 2].category,1)">
                                <h2 class="text-center">{{allCatsSharedWithYou[$index + 2].name}}</h2>
                                <p class="text-center count">{{allCatsSharedWithYou[$index + 2].count}} </p>
                            </a>
                        </div>
                    </div>        
                </div>
            </div>               
        </my-tab>
    </my-tabs>
</div>