<ion-view class="tinder-cards-view">
    <button class="button button-clear button-positive">Edit</button>
    <ion-nav-title>
        <span>Observations</span>
    </ion-nav-title>
    
    <ion-content scroll="true" class="bgwhite">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <button ng-click="addObservation()" class="button button-positive button-block">Add New Observation</button>
        <td-cards>
          	<td-card ng-repeat="card in cards" id="td-card"
                     on-transition-out="swipedAway(card.id)"
                     ng-click="openNotesDetails(card.id)">
                <h4 class="cardtitle">
                    Entry - {{$index + 1}}
                </h4>
                <div class="tdincard">
                    <p>{{card.observation}}</p>
                </div>
                
          	</td-card>
        </td-cards>
 
        
    </ion-content>
</ion-view>
<script id="create-Observation" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar app-top-bar">
            <h1 class="title">Write an Observation</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </ion-header-bar>
        <ion-content>
            
                <div class="item item-divider"><span>Observation </span></div> 
                <label class="item item-input listreq">
                  <textarea ng-model="data.observation" type = "text" required placeholder="Observation" rows="25" cols="300" style="resize: none;">
                    
                  </textarea>
                </label>
                <button ng-click="saveObservation()" class="button button-positive button-block">Add</button>
            
        </ion-content>
    </ion-modal-view>
</script>
</div>