<ion-view class="tinder-cards-view">
    <button class="button button-clear button-positive">Edit</button>
    <ion-nav-title>
        <span>Medication</span>
    </ion-nav-title>
    
    <ion-content scroll="true" class="bgwhite">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        
         <div class="mt40 p15">
           <p>some sensible message here</p>
        </div>
        <td-cards>
          	<td-card ng-repeat="card in cards" id="td-card"
                     on-transition-out="swipedAway(card.id)">
                <h4 class="cardtitle">
                    <span> {{card.medicine}} - {{card.strength}} mg </span>
                    <span> ( Once every {{card.frequency}} {{card.no_of_frequency}} )</span>
                </h4>
                <div class="tdincard">
                    <p>From: {{card.start_date}}</p>
                    <p>To: {{card.end_date}}</p>
                    <p>Intake: {{card.intake}}</p>
                </div>
                
          	</td-card>
        </td-cards>
 
        <button ng-click="addMedication()" class="button button-positive button-block">Add New Medication</button>
    </ion-content>
</ion-view>
<script id="create-medication" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar app-top-bar">
            <h1 class="title">Medication</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </ion-header-bar>
        <ion-content>
            
                <div class="item item-divider"><span>Medicine *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.name" type = "text" required placeholder="Medicine Name" rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>

                <div class="item item-divider"><span>Dose *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.dose" type = "text" required placeholder="1 Tablet, 20mL etc." rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>

                <div class="item item-divider"><span>Once Every *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.frequency" type = "number" required rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>
                <label class="item item-input listreq">
                  <select class="cselect Ditemselect" ng-init="selData = (frequencyno).split(',')" ng-model="onceeveryselect" ng-change="setOnceEvery(onceeveryselect)">
                    <option ng-repeat="sel in selData" value="{{sel}}"> {{sel}} </option>
                  </select>
                </label>

                <div class="item item-divider"><span>Intake Method *</span></div> 
                <label class="item item-input listreq">
                  <select class="cselect Ditemselect" ng-init="selMethod = (intakemethod).split(',')" name="{{intakemethod}}" ng-model="intake" ng-change="setIntakeMethod(intake)" >
                    <option ng-repeat="sel in selMethod" value="{{sel}}"> {{sel}} </option>
                  </select>
                </label>

                <div class="item item-divider"><span>Strength *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.strength" type = "text" required placeholder="1 Tablet, 20mL etc." rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>

                <div class="item item-divider"><span>Duration *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.duration" type = "number" required placeholder="1 Tablet, 20mL etc." rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>

                <div class="item item-divider"><span>Start Date *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data['start-date']" type = "date" required rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>
                
                <div class="item item-divider"><span>Status *</span></div>                 
                <ion-toggle ng-model="mediStatus" ng-checked="0"  ng-click="setToggle(mediStatus)" ng-change="setToggle(mediStatus)" toggle-class="toggle-positive"> Active </ion-toggle>
                <input type="hidden" value="Active" id="mediStatus" name="{{field.name}}" />                

                <div class="item item-divider"><span>Related Problem *</span></div>  
                <label class="item item-input">
                    <select class="cselect" ng-model="data['related-problem']" ng-change="addOther(field.name, field.field, prob.record_id)" ng-init="- 1">
                        <option value="" ng-selected="1">Select </option>
                        <option ng-repeat="prob in problems"  value="{{prob.record_id}}">{{prob.value}}</option>
                    </select>
                </label>

                <div class="item item-divider"><span>Prescribed By *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data['prescribed-by']" type = "text" required placeholder="Prescribed by." rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>

                <div class="item item-divider"><span>Notes *</span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data['notes-2']" type = "text" required placeholder="Notes." rows="25" cols="300" style="resize: none;">                    
                  </input>
                </label>



                <button ng-click="saveMedication()" class="button button-positive button-block">Add</button>
            
        </ion-content>
    </ion-modal-view>
</script>