<ion-view class="tinder-cards-view">
    <button class="button button-clear button-positive">Edit</button>
    <ion-nav-title>
        <span>Tasks</span>
    </ion-nav-title>
    
    <ion-content scroll="true" class="bgwhite">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        
         <div class="mt40 p15">
           <p>some sensible message here</p>
        </div>
        <td-cards>
          	<td-card ng-repeat="card in cards" id="td-card"
                     on-transition-out="swipedAway(card.id)">
                <h4 class="cardtitle">
                    <span> {{card['task-1']}} - ({{card['status-5']}})</span>                    
                </h4>
                <div class="tdincard">
                    <p ng-if="card['no-of-times']">Once every {{card['no-of-times']}} {{card['no-of-frequency']}}</p>
                    <p ng-if="card['start-time']">From: {{card['start-time']}}</p>
                    <p ng-if="card['end-time']">To: {{card['end-time']}}</p>
                </div>
                
          	</td-card>
        </td-cards>
 
        <button ng-click="addTask()" class="button button-positive button-block">Add New Medication</button>
    </ion-content>
</ion-view>