<div>    
    <div ng-repeat="cat in allCats" ng-if="$index % 3 == 0" class="row" width="99%">
        <div class="col greenbox card">
            <div class="post-heading">
                <a ng-click="gotopage(allCats[$index].url)">
                    <h2 class="text-center">{{allCats[$index].name}}</h2>
                    <p class="text-center count">{{allCats[$index].count}} </p>
                </a>
            </div>
        </div>
        <div class="col greenbox card" ng-if="allCats.length > ($index + 1)">
            <div class="post-heading">
                <a ng-click="gotopage(allCats[$index + 1].url)">
                    <h2 class="text-center">{{allCats[$index + 1].name}}</h2>
                    <p class="text-center count">{{allCats[$index + 1].count}} </p>
                </a>
            </div>
        </div>
        <div class="col greenbox card"  ng-if="allCats.length > ($index + 2)">
            <div class="post-heading">
                <a ng-click="gotopage(allCats[$index + 2].url)">
                    <h2 class="text-center">{{allCats[$index + 2].name}}</h2>
                    <p class="text-center count">{{allCats[$index + 2].count}} </p>
                </a>
            </div>
        </div>        
    </div>
    <div ng-repeat="option in options">
                
        <a class="item item-icon-right accordian greyblock" ng-click="goUrl('{{option.url}}')" ng-if="(option.children.length==0)">
            <span class="ctitle">{{option.name|capitalize}}</span>  
        </a>

        <a class="item item-icon-right accordian greyblock" ng-if="(option.children.length!=0)">
            <span class="ctitle">{{option.name|capitalize}}</span>  
        </a>
        
        <div class="panel hide" ng-if="check(option.children)">
            <div ng-repeat="child in option.children" >
                <a class ="item" ng-click="goUrl('{{child.url}}')">{{child.name|capitalize}}</a>
            </div>
        </div>
    </div>
</div>