<div>
    <div style="padding:2px" class="allRecords">
        <div style ="float:left">
            <a ng-click="shareTreatment(allCats)" class="button btn-share"><i class="icon ion-android-share-alt"/></a>
        </div>
        <div style ="float:left">
            <a ng-click="openAddRecord()" class="button btn-share"><i class="icon ion-ios-plus-outline"/></a>
        </div>
    </div>
    
    <div class="sldebxcontent hide RecordsView">
        <button ng-click="close()" class="button button-delete icon ion-backspace"></button>
        <button ng-click="shareTreatment()" class="button btn-share"><i class="icon ion-ios-plus-outline"/></button>
        <!-- <button ng-click="addNew('{{catid}}')" class="button button-add icon ion-plus"> Add</button> -->
    
        <div class="row" ng-repeat="card in cards.records">
            <div class = "col greenbox card">
                <!--task -->
                <td-card  id="td-card" on-transition-out="swipedAway(card.id)" ng-if="catid == 30">
                    <h4 class="cardtitle">
                        <span> Task </span>                    
                    </h4>
                    <div class="tdincard">
                        <p ng-if="card['task-1']"> {{card['task-1']}} - ({{card['status-5']}})</p>
                        <p ng-if="card['no-of-times']">Once every {{card['no-of-times']}} {{card['no-of-frequency']}}</p>
                        <p ng-if="card['start-time']">From: {{card['start-time']}}</p>
                        <p ng-if="card['end-time']">To: {{card['end-time']}}</p>
                    </div>                
                </td-card>

                <!--diet-->
                <td-card  id="td-card" on-transition-out="swipedAway(card.id)" ng-if="catid == 21">
                    <a ng-click="getDetails(card['record_id'])">
                        <h4 class="cardtitle">
                            <span>Diet</span>
                        </h4>
                     </a>
                        <div class="tdincard">
                            <p ng-if="card['start-date-4']">{{card['start-date-4']}} To {{card['end-date-3']}}</p>
                            <p ng-if="card['notes-21']">Notes: {{card['notes-21']}}</p>
                            <p ng-if="card['no-of-days']">No of days: {{card['no-of-days']}}</p>
                            <div> 
                                <div class="dietdays">
                                    <button class="button button-positive button-small inbtn" ng-repeat="dd in cards['diet-details'][$parent.$parent.$parent.$index]" ng-controller="mealDetails2Ctrl" ng-click="daymodal({{$index}},{{$parent.$parent.$index}})">
                                        <!-- <span class="icon ion-plus-circled"></span> --> Day {{$index + 1}}</button>
                                </div>
                            </div>
                        </div>                       
                </td-card>

                <!--medication-->
                <td-card  id="td-card" on-transition-out="swipedAway(card.id)" ng-if="catid == 3">
                    <h4 class="cardtitle">
                        <span>Medication</span>
                    </h4>
                    <div class="tdincard">
                        <p ng-if="card.name">{{card.name}} - {{card.strength}} </p>
                        <p ng-if="card.frequency && card['no-of-frequency-1']"> ( Once every {{card.frequency}} {{card['no-of-frequency-1']}} )</p>
                        <p ng-if="card['start-date']">From: {{card['start-date']}}</p>
                        <p ng-if="card['end-date']">To: {{card['end-date']}}</p>
                        <p ng-if="card.intake">Intake: {{card.intake}}</p>
                    </div>
                </td-card>

                <!--investigations-->
                <td-card  id="td-card" on-transition-out="swipedAway(card.id)" ng-if="catid == 5">
                    <h4 class="cardtitle">
                        <span>Investigations</span>
                    </h4>
                    <div class="tdincard">
                        <p ng-if="card.investigation">{{card.investigation}}
                            <span ng-if="card['status-2']">({{card['status-2']}})</span>
                        </p>
                        <p ng-if="card['conducted-on-1']">Conducted on: {{card['conducted-on-1']}}</p>
                        <p ng-if="card['to-be-conducted-before-1']">To be Conducted before: {{card['to-be-conducted-before-1']}}</p>
                        <p ng-if="card['conducted-by']">Conducted by: {{card['conducted-by']}}</p>
                        <p ng-if="card['result']">Result: {{card['result']}} ({{card['inference']}})</p>
                        <p ng-if="card['reference-range']">Optimum Result: {{card['reference-range']}}</p>
                        <p ng-if="card['notes-4']">Notes: {{card['notes-4']}}</p>
                    </div>                
                </td-card>

                <!--procedure-->
                <td-card  id="td-card" on-transition-out="swipedAway(card.id)" ng-if="catid == 4">
                    <h4 class="cardtitle">
                        <span>Procedure</span>
                    </h4>
                    <div class="tdincard"> 
                        <p ng-if="card['name-3']">{{card['name-3']}}
                            <span ng-if="card['status-1']">({{card['status-1']}})</span>
                        </p>
                        <p ng-if="card['conducted-on']">Conducted on: {{card['conducted-on']}}</p>
                        <p ng-if="card['to-be-conducted-before']">To be Conducted before: {{card['to-be-conducted-before']}}</p>
                        <p >
                          <span ng-if="card['performed-by']">Performed by: {{card['performed-by']}}</span>
                          <span ng-if="card['performed-at']"> at {{card['performed-at']}}</span>
                        </p>
                        <p ng-if="card['body-location']">Body-Location: {{card['body-location']}}</p>
                        <p ng-if="card['reference-range']">Optimum Result: {{card['reference-range']}}</p>
                        <p ng-if="card['notes-3']">Notes: {{card['notes-3']}}</p>
                    </div>                
                </td-card>

                <!--referral-->
                <td-card  id="td-card" on-transition-out="swipedAway(card.id)" ng-if="catid == 9">
                    <h4 class="cardtitle">
                        <span>Referral</span>
                    </h4>
                    <div class="tdincard">
                        <p ng-if=" card['referred-to']">  {{card['referred-to']}}</p>
                        <p ng-if="card['referred-by']">Referred By: {{card['referred-by']}}</p>
                        <p ng-if="card['referred-on']">On: {{card['referred-on']}}</p>
                        <!-- <p ng-if="card['related-problem-5']">Related Problem: {{card['related-problem-5']}}</p> -->
                        <p ng-if="card['notes-9']">Notes: {{card['notes-9']}}</p>
                    </div>                
                </td-card> 
            </div>
        </div>       
    </div>  

    <div ng-repeat="cat in allCats" ng-if="$index % 3 == 0" class="row allRecords" width="99%">
        <div class="col greenbox card">
            <a ng-click="gotopage(allCats[$index].url,allCats[$index].category,allCats[$index].name)">
                <div class="post-heading">
                    <p class="text-center">{{allCats[$index].name}}</p>
                    <p class="text-center count">{{allCats[$index].count}} </p>
                </div>
            </a>
        </div>
        <div class="col greenbox card">
            <div class="post-heading">
                <a ng-click="gotopage(allCats[$index + 1].url,allCats[$index + 1].category,allCats[$index + 1].name)">
                    <p class="text-center">{{allCats[$index + 1].name}}</p>
                    <p class="text-center count">{{allCats[$index + 1].count}} </p>
                </a>
            </div>
        </div>
        <div class="col greenbox card">
            <div class="post-heading">
                <a ng-click="gotopage(allCats[$index + 2].url,allCats[$index + 2].category,allCats[$index + 2].name)">
                    <p class="text-center">{{allCats[$index + 2].name}}</p>
                    <p class="text-center count">{{allCats[$index + 2].count}} </p>
                </a>
            </div>
        </div>      
    </div>
</div>