<ion-view class="tinder-cards-view">
    <button class="button button-clear button-positive">Edit</button>
    <ion-nav-title>
       <span  >Family Member</span>
    </ion-nav-title>
	<ion-content scroll="true" class="bgwhite">
        
        <div class="item item-divider mt15" >Relationship</div>
      	<label class="item item-list listreq">
            <select ng-model = "newrelation.relationid" class ="cselect" id="problemselect">
              <option ng-repeat="option in select" value={{option.id}}>{{option.relation_name}}</option>
            </select>
        </label>
        <label class="item item-list listreq" ng-if="newrelation.relationid == 0">
            <input ng-model="newrelation.relationname" type = "text" placeholder=" Relation name (Father/Mother)" id="newrelation" />
        </label>
        <div class="item item-divider mt15" >Name</div>
        <label class="item item-list listreq">
            <input ng-model="newrelation.relativename" type = "text" placeholder="Name" />
        </label>
        <div class="item item-divider mt15" >Age</div>
        <label class="item item-list listreq">
            <input ng-model="newrelation.age" type = "number" placeholder="Age" />
        </label>
        <div class="item item-divider mt15" > Quick History
            <button class="Cstmbutn button-small mb15 col-25" style="float:right; padding:0;" ng-controller="knowConditionCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> Add </button>
        </div>
        <button ng-click="addRelation()" class="button button-positive button-block">Add Relation</button>
    </ion-content>
</ion-view>
<script id="knowcondition" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Add Quick History</h1>
    <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
    <ion-list>
    <ion-checkbox ng-repeat="con in conditions track by $index" ng-model="conId[con.id]" ng-click="getCondition({{con.id}},'{{con.condition}}')" ng-checked="getPreCon({{con.id}})" >{{con.condition}}</ion-checkbox>
    </ion-list>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-add"  ng-click="modal.hide()" ><i class="ion-check"></i> Submit</div>
    </div>
    </ion-modal-view>
</script>