<div>
    <my-tabs class="ctabs">
        
        <!--new patient(background) tab-->
        <my-tab title="Patient">
            <div class="mtabcon" ng-controller="PatientBackgroundCtrl">
                <div class="item item-divider"><span>Name </span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.name" type = "text" required placeholder="Name"/>
                </label>


                <div class="item item-divider"><span>DOB </span></div>
                <label class="item item-input listreq">
                  <input type="date" ng-model ="data.dob"  required/>
                </label>

                <div class="item item-divider"><span>Gender</span></div>
                <label class="item item-list listreq">
                  <select ng-model = "data.gender" class ="cselect" required>
                    <option value='1'>Male</option>
                    <option value ='0'>Female</option>
                  </select>
                </label>
             
                <div class="item item-divider"><span>Phone </span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.phone" type = "text" required placeholder="Name"/>
                </label>

                <div class="item item-divider"><span>Email </span></div> 
                <label class="item item-input listreq">
                  <input ng-model="data.email" type = "text" required placeholder="Name"/>
                </label>
                <button ng-click="updatePersonalDetails()" class="button button-positive button-block">Update</button>
                <div ng-if="selCondition.length > '0'">
                    <div class="row">
                        <div class="col"><strong>Known Conditions </strong></div>
                        <div class="col">: <span ng-repeat="sel in selCondition"> {{sel.condition}} <br/></span></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </my-tab>

        <my-tab title ="Family">                            
            <div class="mtabcon" ng-controller="FamilyBackgroundCtrl">
                <div style="float:left">
                    <a ng-click="toggleHiddenTab('addfamilytab')" class="button btn-share"><i class="icon ion-ios-plus-outline"/></a>    
                </div>
                <div class ="clr"></div>
                <div class="list card post-item greenbox" ng-repeat="card in cards">
                    <a> <!-- ng-click="selectedCard(card.id)" -->
                        <div class="card-content p0">
                            <div class="row post-heading item item-text-wrap ">
                                <div class="col col-70">
                                    <h2 class="post-title">{{card.relation.relation_name}}: {{card.relative_name}} ({{card.relative_age}} Years)</h2>
                                </div>
                            </div>

                            <div class="post-content item item-text-wrap p0" >
                                <p ng-if="card.problems.length == 0"> No problems fed</p>
                                <div class="row" ng-repeat="problem in card.problems">
                                    <span>{{problem.problem.condition}}</span>
                                </div>
                                <div class="post-footer p0">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </my-tab>
    </my-tabs>
</div>